    <section class="nav1 d-flex container align-items-center py-sm-3 py-12">
        <a class="logo logofont text-no-decoration text-neutral-900 d-inline-block px-sm-12" href="/web-layout-training-vite/pages/index.html">URBNSTEP</a>
        <div class="d-none d-sm-flex align-items-center ms-sm-5"><a href="/web-layout-training-vite/pages/product.html" class="text-no-decoration text-neutral-900 label-md">商品列表</a></div>
        <div class="d-none d-sm-flex align-items-center ms-sm-40"><a href="/web-layout-training-vite/pages/story.html" class="text-no-decoration text-neutral-900 label-md">品牌故事</a></div>
        <div class="login ms-auto d-flex align-items-center">
            <a href="/web-layout-training-vite/pages/user.html" class="text-no-decoration text-neutral-900 label-md"><i class="bi bi-person"></i></i></a>
        </div>
    </section>
    <section class="nav2 container-fulid-block d-sm-none ">
        <div class="row g-0">
            <div class="col-6  text-center py-12 bg-primary-200 ">
                <a href="/web-layout-training-vite/pages/product.html" class="text-no-decoration label-md text-neutral-900 ">商品列表</a>
            </div>
            <div class="col-6  text-center py-12 bg-primary-100 ">
                <a href="/web-layout-training-vite/pages/story.html" class="text-no-decoration label-md text-neutral-900">品牌故事</a>
            </div>
        </div>
    </section>