<section class="nav1 d-flex container align-items-center py-sm-3 py-12">
    <a class="logo logofont text-no-decoration text-neutral-900 d-inline-block px-sm-12" href="https://bake79222.github.io/hexweek4/index.html">URBNSTEP</a>
    <div class="d-none d-sm-flex align-items-center ms-sm-5"><a href="https://bake79222.github.io/hexweek4/product.html" class="text-no-decoration text-neutral-900 label-md">商品列表</a></div>
    <div class="d-none d-sm-flex align-items-center ms-sm-40"><a href="https://bake79222.github.io/hexweek4/story.html" class="text-no-decoration text-neutral-900 label-md">品牌故事</a></div>
    <div class="login ms-auto d-flex align-items-center">
        <a href="https://bake79222.github.io/hexweek4/user.html" class="text-no-decoration text-neutral-900 label-md"><i class="bi bi-person"></i></i></a>
    </div>
</section>
